<?xml version="1.0"?>
<launch>
  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed2.launch" >
    <arg name="use_camera_control" value="false" />
    <arg name="world_name" value="$(find dbw_mkz_parking_lot)/worlds/parking_lot_ed5.world" />
    <arg name="sim_param_file" value="$(find dbw_mkz_parking_lot)/yaml/parking_lot_ed.yaml" />
  </include>


  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz" />
  </include>
  
  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz1" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz2" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz3" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz4" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz5" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz6" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz7" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz8" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz9" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz10" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz11" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz12" />
  </include>

  <include file="$(find dbw_mkz_parking_lot)/launch/parking_lot_ed3.launch" >
    <arg name="vehicle_ns" value="mkz13" />
  </include>

</launch>
