<?xml version="1.0"?>

<launch>
  
  <include file="$(find dbw_mkz_gazebo)/launch/dbw_mkz_gazebo.launch" >
    <arg name="use_camera_control" value="false" />
    <arg name="world_name" value="$(find dbw_mkz_parking_lot)/worlds/parking_lot_ed6.world" />
    <arg name="sim_param_file" value="$(find dbw_mkz_gazebo)/yaml/dyros_test.yaml" />
  </include>
  
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
    <arg name="vehicle_ns" value="dyros" />
  </include>

  <node pkg="dbw_mkz_parking_lot" type="veltest_ed" name="veltest_ed" />

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz_dbw" respawn="false" output="screen" args="-d $(find dbw_mkz_parking_lot)/rviz/parking_lot.rviz" />

  
</launch>
