<launch>
	<!-- ed: 노드들 추가 : PoseInitializer가 없다  -->
	<node pkg="loam_velodyne" type="scanRegistration" name="scanRegistration" output="screen"/>
	<node pkg="loam_velodyne" type="laserOdometry" name="laserOdometry" output="screen"/>   
	<node pkg="loam_velodyne" type="laserMapping" name="laserMapping" output="screen"/>
	<node pkg="loam_velodyne" type="transformMaintenance" name="transformMaintenance" output="screen">
		<!-- ed: 파라미터  -->
		<param name="my_pose_enable" type="bool" value="true" />
	</node>

	<!-- ed: 기존의 rviz 환경설정을 불러온다 -->
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find loam_velodyne)/loam_velodyne.rviz"/>
</launch>
