<robot
  name="asm2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0052586810490694 -0.00328781725888324 0.0395"
        rpy="0 0 0" />
      <mass
        value="1.12980183887578" />
      <inertia
        ixx="0.00134178588749315"
        ixy="-3.01120212748905E-21"
        ixz="-7.40017252919115E-36"
        iyy="0.000917338508881454"
        iyz="-1.04044666462781E-36"
        izz="0.00108394218363731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asm2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://asm2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>